<!-- <header>
  <a href="back to quests">
    <img src="" alt=""> back arrow
  </a>

</header> -->


<h2> QUEST<%= @quest.id %> </h2>

<!-- google maps api div -->

<div class="map-wrapper">
  <div id="map"></div>
</div>

<div class="quests">
  <p>
    Sticker located under bench
  </p>
  <form action="/show" method="post">
    <label for="">Enter your code: </label>
    <input type="text" value="Your answer">
  <button>Submit</button>
</form>

</div>

<!-- google maps api script -->
<script>
  function initMap() {
    var flindersStreet = {lat: -37.8182711, lng: 144.9670618};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: flindersStreet
    });
    var marker = new google.maps.Marker({
      position: flindersStreet,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT54WwO2XSLwmeaRvNjQdamDP6pma-HQM&callback=initMap" async defer>
</script>
