<!-- <header>
  <a href="back to quests">
    <img src="" alt=""> back arrow
  </a>

</header> -->


<h1> <%= @quest.id %> </h1>

<div class="map">
  <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
</div>

<div class="task">
  <p>
    Sticker located under bench
  </p>
  <form action="/show" method="post">
    <label for="">Enter your code: </label>
    <input type="text" value="Your answer">
  <button>Submit</button>
</form>

</div>
