<!-- <header>
  <a href="back to quests">
    <img src="" alt=""> back arrow
  </a>

</header> -->


<h2> QUEST<%= @quest.id %> </h2>

<div class="map-wrapper">
<div id="map"></div>
</div>

<div class="task">
  <p>
    Sticker located under bench
  </p>
  <form action="/show" method="post">
    <label for="">Enter your code: </label>
    <input type="text" value="Your answer">
  <button>Submit</button>
</form>

</div>
