<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="">
  </head>
  <body>

    <div class="newQuest">
      <form action="">
        <label for="">Create New Quest: </label>
        <input type="text">

        <label for="">Instructions: </label>
        <input type="text">

        <label for="">Answer: </label>
        <input type="text">

        <label for="">Location Id: </label>
        <input type="text">

        <label for="">Points Value: </label>
        <input type="text">
        <button>Create</button>
      </form>
    </div>

    <div class="quests">
      <%= @quests.each do |quest| %>
      <a href=""> quest.id.instructions</a>
      <%= end %>
    <!-- list all quests with option to edit or delete
          add edit button to show edit form then submit
          add delete button, prompt will show when clicked to confirm if you want to delete -->

    </div>

  </body>
</html>
