<h1>GEM QUEST (home)</h1>
  <div class="instructions">
    <h2>Instructions</h2>
      <p>
      Quests will require you to find a certain answer that you will enter into the answer tab. The task will be only marked complete if it is correct.

      Quests are split up into 4 different zones.

      Each task has a different value so try to complete all Quests or move onto the next task, if you feel the need.

      The bonus task is worth the most points but can also be the most time consuming/challenging.

      The duration of the scavenger hunt is 4 hours. Once the timer is up please make your way to the final checkpoint to see which team has won!
      </p>
  </div>
<br>
  <div class="rules">
    <h2>Rules</h2>
      <p>
        Teams must stick together. If spotted apart, teams will be disqualified. Yes we will be watching.

        You can’t share your answers with other teams. Or do, if you don’t want to win.

        If multiple teams have completed all Quests, the team that completes all Quests quickest wins.
      </p>
  </div>

<div class="button-wrapper">
  <a id='begin' href="/locations"> BEGIN QUESTS </a>
</div>
