<main>


  <h2>Instructions</h2>
  <ul class="instructions">
    <li>- Quests will require you to find a certain answer that you will enter into the answer tab.</li>  
    <li>- The task will be only marked complete if it is correct.</li> 
    <li>- Quests are split up into 4 different zones.</li> 
    <li>- Each task has a different value so try to complete all Quests or move onto the next task, if you feel the need.</li> 
    <li>- The bonus task is worth the most points but can also be the most time consuming/challenging.</li> 
    <li>- The duration of the scavenger hunt is 4 hours.</li> 
    <li>- Once the timer is up please make your way to the final checkpoint to see which team has won!</li>
  </ul>


  <h2>Rules</h2>
  <ul class="rules">
    <li>- Teams must stick together.</li> 
    <li>- If spotted apart, teams will be disqualified.</li> 
    <li>- Yes we will be watching.</li> 
    <li>- You can’t share your answers with other teams. Or do, if you don’t want to win.</li>
    <li>- If multiple teams have completed all Quests, the team that completes all Quests quickest wins.</li>
  </ul>

</main>

<div class="button-wrapper">
  <a class="begin-quest" href="/locations">BEGIN QUESTS</a>
</div>
