* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
}

header {
  background-color: rgb(188, 38, 26);
  color: #FFFFFF;
  padding: 30px 20px 30px 20px;
}

nav {
  background-color: #00A6B3;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Alice", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: 'Special Elite', cursive;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

h3 {
  font-family: 'Special Elite', cursive;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

p {
  line-height: 26px;
  font-size: 10px;
  /*padding: 14px 120px 14px 120px;*/
  margin: 0 auto;
}

a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: white;
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

button #logout {}

.map-wrapper {
  height: 300px;
  width: 300px;
  margin-left: 300px;
}

#map {
  height: 100%;
}

.button-wrapper {
  text-align: center;
  width: 300px;
  height: 50px;
  border: none;
}

footer {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(188, 38, 26);
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copywrite {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #00A6B3;
  font-weight: 700;
}



#begin {

  color: #009900;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
  border-bottom: : 2px solid transparent;
}

#begin:hover {
border-color: #009900;
}
