<h1>Locations Index</h1>


<% @locations.each do |location| %>
  <div>
    <a href="/locations/<%=location.id%>"><h2><%= location.name %></h2></a>
  </div>
<% end %>
<!-- <div id="zone1">
  <a class='location-link' href="/locations/1"> LOCATION 1 </a>
</div>
<div id="zone2">
  <a class='location-link' href="/locations/2"> LOCATION 2 </a>
</div>
<div id="zone3">
  <a class='location-link' href="/locations/3"> LOCATION 3 </a>
</div>
<div id="zone4">
  <a class='location-link' href="/locations/4"> LOCATION 4 </a>
</div>
<div id="bonus">
  <a class='location-link' href="/locations/5"> BONUS</a>
</div> -->
