<h1>Locations Index</h1>

<!-- google maps api div -->
<div class="map-wrapper">
  <div id="map"></div>
</div>


<% @locations.each do |location| %>
  <div>
    <a href="/locations/<%=location.id%>"><h2><%= location.name %></h2></a>
  </div>
<% end %>

<!-- google maps api script -->

<script>
  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: {lat: -37.8182711, lng: 144.9670618}
    })

    locations.forEach(function(location){
      var marker = new google.maps.Marker({
        position: location,
        map: map
      })
    })

  }

  var locations = [
    {lat: -37.8182711, lng: 144.9670618},
    {lat: -37.817798, lng: 144.968714}]


  //  var locations = [
  <%# @quests.forEach do |quest|%>
  //   {lat: <%#= quest.id.lat%> , lng: <%#=quest.id.long %>},
  <%# end %> 
  //  ] 

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT54WwO2XSLwmeaRvNjQdamDP6pma-HQM&callback=initMap" async defer>
</script>

