<h1> LOCATION<%= @location.id %> </h1>

  <div id="quest1">
    <a class='quest-link' href="/quests/1"> QUEST 1 </a>
  </div>
  <div id="quest2">
    <a class='quest-link' href="/quests/2"> QUEST 2 </a>
  </div>
  <div id="quest3">
    <a class='quest-link' href="/quests/3"> QUEST 3 </a>
  </div>
  <div id="quest4">
    <a class='quest-link' href="/quests/4"> QUEST 4 </a>
  </div>
