<h2> LOCATION (<%= @location.name %>) </h2>
<div class="locationquests">
  <% @quests.each do |quest| %>
    <div>
      <a href="/quests/<%=quest.id%>"><h2><%= quest.name %></h2></a>
    </div>
  <% end %>
</div>
