<!DOCTYPE html>
<html>
  <head>
    <title>GemQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 id='gemquest'>Gem Quest</h1>
      <img id='logo' src="http://www.hsdtaxlaw.com/wp-content/uploads/2016/05/20140806_LogoSupporterPlaceholder.png" alt="">
    </header>
    <%= yield %>
    <footer>
      Created by Mark, Jo
    </footer>
  </body>
</html>
